
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/forget_password.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>   
    <body>
        <div class="container">
            <div class="title"><h2>Forget Password</h2></div>
            {% include 'message.html' %}
            <script>
                setTimeout(function(){
                    if ($('#msg').length > 0){
                        $('#msg').remove();
                    }
                }, 3000)
            </script>
            <form action="{% url 'forget_password' %}" method="POST">
                {% csrf_token %}
                <div class="login-info">
                    <span class="details">Password</span>
                    <input id="Password" name="Password"placeholder="enter password" type="password" required>
                </div>
                <div class="secret">
                    <span class="key">Confirm Password </span>
                    <input id="confirm password" name="confirm password" placeholder="confirm password" type="password" required>
                </div>
                <div class="btns">
                    <div class="inner"></div>
                    <button id="btn"  type="submit">LOGIN</button>
                </div>
                <div  id="sign"class="permission">
                    Not a member? <a href="{% url 'registration' %}">Signup now</a>
                </div>
                
            </form>
        </div>
    </body>
</head>
</html>