body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
    transition: all;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
}
#checked:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;

}

#checked:checked ~ label #cancel{
    left: 195px;

}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
label {
    padding: 6px 6px 6px 0;
    display: inline-block;
    

  }
  
  /* Style the submit button */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    margin-top: 4px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 147px;
    overflow: hidden;
}

.container h2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    margin-top: 4px;
}
  /* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    /* margin-top: 6px; */
}
  
  /* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.topnav {
    overflow: hidden;
    margin-top: 2px;
    background-color: #063146;
  }
  
  /* Style the links inside the navigation bar */
.topnav img{
    float: right;
    background-color: white;
    margin-right: 20px;
    margin-top: 26px;
    padding: 6px 6px;
}
.topnav img:hover {
    background-color: #ddd;
    color: black;
  }
.topnav ul {
    color: white;
    margin:0  17px;
    display: flex;
    list-style: none;
    justify-content: right;
    text-align: center;
    position: relative;
    margin-right: 150px;
    /* padding: 4px 8px; */
    line-height: 76px;
    margin-left: 10%;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav input[type=text] {
    float: right;
    padding: 4px;
    border: none;
    margin-top: 8px;
    margin-right: 6px;
    font-size: 17px;
  }
    